<% @pending_approvals.each do |pending_approval| %>
	<div class='homepage-block col-md-3'>
		<h4>
			<%= pending_approval.user.full_name %>
		</h4>

		<p>
			<span class='pending-details'>Date Submitted:</span> <%= pending_approval.date %>
		</p>

		

		<div class='row'>
			<div class='col-md-4 column'>
				<%= link_to '', approve_post_path(pending_approval), class: 'glyphicon glyphicon-thumbs-up', id: "approve_#{pending_approval.id}" %>
			</div>
			<div class='col-md-4 column'>
				<%= link_to '', reject_post_path(pending_approval), class: 'glyphicon glyphicon-thumbs-down', id: "reject_#{pending_approval.id}" %>
			</div>
			<div class='col-md-4 column'>
				<%= link_to '', edit_post_path(pending_approval), class: 'glyphicon glyphicon-hand-left' %>
			</div>
		</div>
	</div>
<% end %>
