<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
      	<% @post.errors.full_messages.each do |message| %>
			<%= alert_gen message %>
		<% end %>
	<% end %>

<form class= "form-horizontal" role= "form">
	 
	<div class="form-group">
	<%= f.date_field :date %>
	<%= f.text_area :rationale  ,class: "form-control", rows: 15 %>

	</div>
	<%= render partial: "status", locals: {f: f} if current_user.type == 'AdminUser' %>

	<div class="form-group">
	<%= f.submit "Submit" , class: 'btn btn-primary' %>
	<button type="button" class="btn btn-danger"><%= link_to "Cancel",posts_path  , data: { confirm: 'r u sure?' } %></button>
	</div>
</form>

<% end %>
