<% if post.errors.any? %>
  	<% post.errors.full_messages.each do |message| %>
		<%= alert_gen message %>
	<% end %>
<% end %>
<tr>
	<td>
		<%= post.id   %>
	</td>
	<td>
		<%= post.daily_hours %>
	</td>
	<td>
		<%= post.user.full_name %>
	</td>
	<td>
		<%= post.date %>
	</td>
	<td>
		<%= link_to post.rationale  , post_show_path(post.id) %>
	</td>
	<td align="center">
		<%= status_label(post.status) %>
	</td>
	<td align="center">
		<%= link_to "", edit_post_path(post) , class: 'glyphicon glyphicon-floppy-open index-iconedit ' if policy(post).update? %>
	</td>
	<td align="center">
		<%= link_to "", post_path(post) , class: 'glyphicon glyphicon-floppy-remove index-icondel', method: :delete , data: { confirm: 'r u sure?' }  %>
		
	</td>
</tr>
 